<div class="toolbar clearfix">
    <div>
        <a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
            <i class="icon-arrow-left"></i>
            Lupa password
        </a>
    </div>
    <div>
        <a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
            Mendaftar
            <i class="icon-arrow-right"></i>
        </a>
    </div>
</div>
