<div id="signup-box" class="signup-box widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header green lighter bigger">
                <i class="icon-group blue"></i>
                Pendaftaran Pengguna Baru
            </h4>
            <div class="space-6"></div>
            <p> Masukkan data anda: </p>
            <fieldset>
                <label>
                    <span class="block input-icon input-icon-right">
                        <input type="email" class="span12" placeholder="Email" />
                        <i class="icon-envelope"></i>
                    </span>
                </label>

                <label>
                    <span class="block input-icon input-icon-right">
                        <input type="text" class="span12" placeholder="Username" />
                        <i class="icon-user"></i>
                    </span>
                </label>

                <label>
                    <span class="block input-icon input-icon-right">
                        <input type="password" class="span12" placeholder="Password" />
                        <i class="icon-lock"></i>
                    </span>
                </label>

                <label>
                    <span class="block input-icon input-icon-right">
                        <input type="password" class="span12" placeholder="Repeat password" />
                        <i class="icon-retweet"></i>
                    </span>
                </label>

                <label>
                    <input type="checkbox" />
                    <span class="lbl">
                        Saya terima syarat dan ketentuannya
                        <a href="#">Syarat dan ketentuan</a>
                    </span>
                </label>

                <div class="space-24"></div>

                <div class="clearfix">
                    <button type="reset" class="width-30 pull-left btn btn-small">
                        <i class="icon-refresh"></i>
                        Reset
                    </button>

                    <button onclick="return false;" class="width-65 pull-right btn btn-small btn-success">
                        Daftarkan
                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>
                </div>
            </fieldset>
        </div>

        <div class="toolbar center">
            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                <i class="icon-arrow-left"></i>
                Kembali ke login
            </a>
        </div>
    </div><!--/widget-body-->
</div><!--/signup-box-->
