.pagination{
    padding: 10px;
    color: #2283c5;
    background-color: #fafafa;
    border-color: #e0e8eb;
    margin: 0 -1px 0 0; 
}
.pagination:hover{
    padding: 10px;
    color: slateblue; 
    background-color: #f5f5f5;
    border-color: #e0e8eb;
    margin: 0 -1px 0 0; 
}
.pagination.cur{
    padding: 10px;
    color: tomato;
}
